@import '../abstracts/variables';

.video_component__container {
  margin: 0 auto;
  h1, h2 {
    color: $sweet-blue;
    font-weight: 600;
  }
}

.videoComp_container {
  border-radius: 12px;
  height: 100%;
  padding: 0px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.intro_component {
  text-align: center;
  margin-bottom: 2rem;
}

// .videoComp_header_inner {
//   font-size: $base-font-size-h2 *1.5;
// }

@media (min-width: $breakpoint-xsm){
  .video_component__container {
    width: 80vw;
  }
  
}

@media (min-width: $breakpoint-sm){
  .videoComp_header_inner {
    font-size: $base-font-size-h2 *1.5;
  }
}

@media (min-width: $breakpoint-md){
  .video_component__container {
    width: 80vw;
  }

  .intro_component {
    width: 45vw;
    margin: 1rem auto;
  }

  .videoComp_header_inner {
    font-size: $base-font-size-h2 * 1.2;
  }

  .videoComp_container_details {
    padding-left: 2rem;
  }

  .videoComp_text {
    font-size: $base-font-size-p * 0.9;
  }
}

@media (min-width: $breakpoint-lg){
  .video_component__container {
    width: 90vw;
  }

  .intro_component {
    width: 45vw;
    margin: 1.5rem auto;
  }

  .videoComp_header_inner {
    font-size: $base-font-size-h2 * 2.5;
  }

  .videoComp_text {
    font-size: $base-font-size-p * 1.7;
  }

}

@media (min-width: $breakpoint-xl){
  
}

@media (min-width: $breakpoint-xxl){
  
}