@import '../abstracts/variables';

.footer_support {
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: 8em;
    background: $main-yellow;

    &__detail {
        i {
            font-size: 3em;
            padding-right: .5em;
            align-self: center;
            color: $lighter-blue;
        }

        p {
            font-size: 1.1em;
            line-height: 1.5;
            max-width: 18em;
            color: $lighter-blue;
        }
    }

    &__detail_button_container {
        button {
            &:not(:last-child) {
                margin-left: 1em;
                margin-right: 1em;
            }
        }

    }
}

.footer_main {
    padding-top: 3em;
    padding-bottom: 3em;
    background: $deep-blue;
    color: white;

    a {
        color: $lightest-blue;
        text-decoration: none;
        transition: .2s ease-in-out;

        &:hover,
        &:active,
        &:focus {
            color: $main-white !important;
        }
    }

    h3 {
        font-size: 1.3em;
        line-height: 1.3;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 1.2em;
        padding-bottom: 0.5em;
    }

    p {
        color: $lightest-blue;
        font-size: 1.03rem;
        line-height: 1.3;
        margin-top: 1em;

        &:first-child {
            margin-top: 0;
        }
    }

    &__about {
        max-width: 18em;
    }

    &__quicklinks {
        ul {
            font-size: 1.03rem;
            li {
                margin-top: 1em;
            }
        }
    }

    &__socials {
        display: flex;
        width: 70%;
        margin: 0px;
        justify-content: flex-end
        a {
            font-size: 2em;
            margin-right: 1em;
        }
    }
}

.contact_text_medium {
    font-size: 14px !important;
    text-transform: capitalize;
    margin-bottom: 3px;
}

.contact_text_small {
    font-size: 10px !important;
    margin-top: 0px !important;
    text-transform: capitalize;

    &__xtra {
        font-size: 10px !important;
        font-weight: 800;
        margin-bottom: 0px !important;
    }
}

.line_style {
    width: 80% !important;
}


.footer_main__socials_header {
    // text-align: right !important;
    width: 100%;
    margin: 0em 0px;
    padding: 0px 0px 0.5em 0px !important;
}

.footer_main__about {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    height: 40vh ;
}

.footer_text {
    color: $main-grey
}


.footer_bottom {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background: $sweet-blue;
    font-size: 1em;
    color: $transparent-blue;
    line-height: 1.5;
}

@media (max-width: $breakpoint-sm) {

    .footer_main__about {
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
        height: 10vh !important;
    }

    .footer_main__about {
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important;
        height: 20vh !important;
        margin-bottom: 2em;
    }
    // .footer_more {
    //     margin-top: 1em;
    // }
    .footer_main__socials_header {
        margin-top: 2em;
    }
}
