@import '../abstracts/variables';


.ourTeam_hero {
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;

  > h2 {
    margin-top : 3em;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
  }
}