@import '../abstracts/variables';

.heroBanner_img {
  height: 45vh;
  object-fit: cover;

}

@media (max-width: $breakpoint-md){
  .heroBanner_img{
    height: 15vh ;
  }
}


// .ourTeam_hero {
//   display: flex;
//   justify-content: center;
//   align-items: center;

  //  h2 {
  //   margin-top : 3em;
  //   text-transform: uppercase;
  //   color: white;
  //   font-weight: 600;
  // }
// }