@import '../abstracts/variables';

.nav_container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 40;

  .nav_inner__container {
    height: 20vh;
  }
}

.navbar_collapse { 
  // max-height: 300px;
  // padding: 20px;
  font-size: 1em;
  // padding-left: 2.2rem;
  // padding-right: 2.2rem;
  transition: all 0.5s ease 0s;
  box-shadow: none;
  background: transparent none repeat scroll 0% 0%;
  // height: 20vh;

  &__nav {
    font-size: 1.2em;

    :not(:last-child) {
      display: block;
      margin-right: 20px; 
 }
  :last-child {
    padding-right: 1em;
  }
  }

}