@import '../abstracts/variables';

.background_blur {
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  // backdrop-filter: blur(9.8px);
  // -webkit-backdrop-filter: blur(9.8px);
  background: white;
  margin: 0;
  padding: 0;
}

.nav_container {
  margin-top: -30px;
  // change nextline to enable fixed navbar
   // position: fixed;
  top: 0;
  width: 100%;
  z-index: 40;
}

.nav_text_label {
  text-transform: uppercase !important;
  color: $main-blue;
  font-weight: 600;
}

.nav_text {
  color: $main-blue;
  font-weight: 600;
  // font-size: 1.1em;
  padding: 0 !important;
  margin-left: 1rem ;
  text-transform: capitalize !important;

  .dropdown_divider {
    color: black;
    }

  .dropdown_divider_last{
    display: none;
    }
}

.nav_dropdown_link_text {
  margin: 0;
  padding-top: 0px;

}

.nav_dropdown_link_text
.nav_link__button
.nav_link {
  line-height: 2px !important;
  padding: 0px !important;
  margin: auto 40px !important;
}


.navbar_collapse {
  // margin-top : -30px;
  margin-bottom: -40px;
  font-size: 1em;
  box-shadow: none;
  margin-right: 0px;

  &__nav {
    // font-size: 1.1em;
  font-weight: 600;


    :not(:last-child) {
      display: block;
      margin-right: 20px; 
 }

 .nav_link {
   margin-right: 2.5em;
  text-transform: uppercase;
 }

 .nav_link__button {
   margin-right: 1em;
 }
 
  }

}

//mobile
@media (max-width: 480px) {


.nav_container {
  margin-top: 0px;
  // change nextline to enable fixed navbar
   position: static !important;
  top: 0;
  width: 100%;
  z-index: 40;
}
  .navbar_collapse {

    
    position: absolute;
    padding-top: 12vh;
    padding-right: 30vw;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: -20;
    background-color: white;

    &__nav {
      display: flex;
      justify-content: center;
      align-content: flex-end;
      width: 100vw;
    }
  }
  .nav_link {
    text-align: start;
    margin-left: 2em;
  }
  }
