@import '../abstracts/variables';

.page_container {
  display: flex;
  justify-content: center;
  width: 100vw;
  
  .page_child {
    width: 75vw;
    min-height: 50vh;
    margin: 7em auto;

    .page_hero_image{
      width: 100%;
      height: 50%;
      
      border-radius: 8px;
      // overflow: hidden
    }
    
    &__heading {
      margin: 1em 0;
    }

    p {
      font-size: 20px;
      margin: 20px 0;
    }
    
  }

}