@import '../abstracts/variables';

.aboutUs_container {
  margin : 0px;
  padding: 0px;

  .aboutUs_hero {
    background: url('/Rectangle 70.jpg');
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;

    > h2 {
      margin-top : 3em;
      text-transform: uppercase;
      color: white;
      font-weight: 600;
    }
  }
}

.aboutUs_nav_container {
  // width: 100vw;

  .aboutUs_nav {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    // font-weight: 400;
    font-size: 12px;
    margin-top: 2em;
    
    > div > span {
      color: $dark-blue !important;
      margin-left: 1em;
      font-weight: 600;
    }
  }

  
}

 .hr {
  width: 100%;
  height: 1px;
  color : gray;
}

.background_container {
  margin-top: 8em;
  margin-bottom: 5em;

  .background_header {
    text-transform: uppercase;
    font-weight: 600;
    color: #144388;
  }
  .background_text {
    font-size: 16px;
    word-spacing: 3px;
  }
}

.aboutUs_specialty_container_main {

  background: url('/surveillance_drone.png');
  opacity: 1;
  padding: 0px !important;

  .aboutUs_specialty_mask {
    background: rgba(14, 46, 78, 0.78);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.9px);
    -webkit-backdrop-filter: blur(9.9px);
    border: 1px solid rgba(14, 46, 78, 0.3);
  }

  .aboutUs_specialty_container {
    margin: 2em auto;

    display: flex;

    .aboutUs_specialty {
      padding: 1em;
      
      &__image {
    
      }
      &__title {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
      }
      &__text {
        font-size: 13px;
        color: $light-grey;
        word-spacing: 3px;
        
      }
    }
  }
}

.volunteer {
  margin-top: 8em;
  margin-bottom: 5em;

  .volunteer__header__1 {
    font-size: 16px;
    text-transform: capitalize;
    color: #144388;
    font-weight: 600;
    margin-bottom: 0.5em;
  }

  .volunteer__header__2  { 
    text-transform: uppercase;
    font-weight: 600;
    color: #144388;
    margin-bottom: 1em;
  }
  
  .volunteer_accordion {
    margin-bottom: 1em;
  }

  .volunteer_accordion__question {
    color: $light-blue;
    font-weight: 600;
  }
}


.subscribe {
  margin-top: 5em;
  margin-bottom: 5em;

  .subscribe_intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 28px;
      word-spacing: 0.1em;
      color: #144388;
    }
  
    &__text {
      color: $light-grey;
      margin-top: 0.5em;
      margin-bottom: 1em;
    }
  }
}

