@import '../abstracts/variables';

.volunteer_about_container_main {
  margin-top: 8em;
  margin-bottom: 8em;
}

.volunteer_about_container {


  .volunteer_header {
    color: $main-blue;
    font-weight: 600;
  }

  .volunteer_text {
    font-size: 14px;
  }
}

.volunteer_img {
  overflow: hidden;
  max-width: 30vw;
}

.volunteer_content_container {

  .volunteer_content_container_inner {
    margin-bottom: 0.5em;
    line-height: 16px;

    .volunteer_content_header {
      display: inline;
      font-size: 16px;
      font-weight: 600;
      color: $light-blue;
      text-transform: capitalize;
    }

    .volunteer_content_text {
      display: inline;
      color: $light-blue;
      font-size: 14px;
      font-weight: 400;

    }
  } 
}

.volunteer_member_header {
  text-transform: uppercase;
  color: $main-blue;
  font-weight: 600;
  text-align: center;
  padding: 1em 0em;
}

.volunteer_submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 3em;
}

@media (max-width: $breakpoint-md) {
  .volunteer_about_container_main {
    margin-top: 1em;
    margin-bottom: 2em;
  }
  .volunteer_img {
    max-width: 90vw;
  }
}