@import '../abstracts/variables';

.inline_about {
    background: $main-grey;
    width: 100%; 
    overflow-x: hidden;

    &__inner {
        // margin: 0px 10px;
    }
}

.homepage_title {
  font-size: 2.35em;
  color: #17466C;
  font-weight: 500;
  line-height: 1.35em;
}

.about_details {
    display: flex;
    height: 100%;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 35em;
    margin-left: auto;

    &__p {
        margin-top: 1rem;

        p {
            font-size: 1.1em;
            line-height: 1.5;
            color: $lightest-blue;
            margin-top: 1rem;
        }
    }

    button {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

}

.about_vids {
    background: url(https://res.cloudinary.com/silva/image/upload/v1593060415/jerry-cover.jpg);
    background-position: 10% 50%;
    background-position-x: 10%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

//play button animation
.video_play_button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    /* background: #fa183d; */
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
}

.video_play_button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: $transparent-blue;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video_play_button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: $light-blue;
    border-radius: 50%;
    transition: all 200ms;
}

.video_play_button:hover:after {
    background-color: darken($light-blue, 10%);
}

.video_play_button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video_play_button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse_border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    
    }
}

@media (max-width: $breakpoint-md) {
    .about_vids {
        height: 20em;
    }
}
