@import '../abstracts/variables';



.tac_top_about {
    &__text {
        font-size: 1.1em;
        color: $light-blue;
        line-height: 1.5;
        max-width: 32em;
        margin: 0 auto;

        p {
            &:not(:first-child) {
                margin-top: 1em;
            }
        }
    }

    &__img {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: $breakpoint-md) {
    .tac-top-about {

        &__img {
            margin-top: 1.5em;
        }
    }
}

