@import '../abstracts/variables';

.button_default {
  margin-right: 1em;
  text-transform: capitalize;
    font-size: 0.8rem ;
}

.button_pill {
  border-radius: 23px;
  width: 7em;
  padding-top: 7px;
  padding-bottom: 7px;
}

.button_mid {
  width: 12rem;
  padding: 0.7rem 0;
  font-weight: 600;
  font-size: $base-font-size-p-md;
}



@media (max-width: $breakpoint-md) {
  .button_wide {
    width: 80vw !important;
    margin: 0 auto;
  }

}

@media (min-width: $breakpoint-xl) {
  .button_default {
    font-size: 0.8rem *3 ;

  }

  .button_large {
    padding-top: 7px *2;
    padding-bottom: 7px *2;
    padding: 7px *2 5rem  ;
  }
}
