@import '../abstracts/variables';

.donateModal_component {

  background: #F2F2F2;
  
  .donateModal_component_inner {
    margin: 2.5em;
  }

  .donation_header {
    color: $main-blue;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2em; 
  }
}

.amount_button {
  border: 1px solid #C9C9C9;
  border-radius: 0px !important;
  padding: 6px 20px !important;
  margin: 0.5em ;
}

.amount_button:hover {
  background: #1089FF;
  color: #fff;
}

.donation_buttons_component {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #FFFFFF;
  margin-bottom: 1.5em;

  input[type="text"] {
    outline: none;
    border: 1px solid #C9C9C9;
    height: 35px;
    width: 45%;
    margin: auto 0;
  }
  input::-webkit-input-placeholder {
    font-style: italic;
    text-align: right;
    margin-right: 1em;
    font-size: 13px;
    color: #C9C9C9;
  }
}

.donorInfo {
  text-transform: capitalize;
  font-weight: 600;
}

  .donorInfo_component {
    background: #fff;
    padding: 1em;
    background: #FFFFFF;
    margin-bottom: 1.5em;
  }

  .donorInfo_row_component {
    margin: 0.5em;
  
  }

  .donorInfo_input_comp {
    display: flex;
    flex-direction: column;
    color: #C9C9C9;
  
    input {
      width: 100% !important;
      margin-top: 1px;
      margin-bottom: 5px;
    }
    label {
      margin-bottom: 0.5px;
      font-size: 13px;
    }
  }

  .donorInfo_checkBox_payment_method {
    color: #000;
    font-size: 14px;
    font-weight: 600;
     
  }
   
    .donorInfo_checkBox {
    font-size: 14px;

    input {
      margin-left: 15px;
      margin-right: 5px;
    }
    }

    .donate_button {
      border: 1px solid #C9C9C9;
      border-radius: 0px !important;
      padding: 8px 32px !important;
      margin: 0.5em auto ;
      background: #224EFF;
      color: #fff;
    }
    
    .donate_button:hover {
      background: #1089FF;
    }



