@import '../abstracts/variables';

.drive_container_main {
  margin: 6em 0em;

  .drive_header {
    text-transform: uppercase;
    text-align: center;
    color: $sweet-blue;
    font-weight: 600;
    margin-bottom: 2em;
  }

}


.drive_cards_container_outer {
  display: flex;
  flex-direction: column;

  .drive_cards_container_inner {
    display: flex;
  }
  .drive_card_image {
    
    > img {
      width: 15vw;
      border-radius: 4px;
      margin: 0 2em  0em;

    }
  }

  .drive_content {
    width: 35%;

    .drive_header_inner {
      font-size: 16px;
      text-align: left;
      font-weight: 600;
      color: $sweet-blue;
      text-transform: capitalize;
      font-weight: 800;
    }

    .drive_text {
      font-size: 13px;
      line-height: 20px;
    }

  }

}

.drive_details_container {

  .drive_details {

    .drive_details_header {
      text-transform: capitalize;
      color: #007bff;
      font-weight: 600;
      font-size: 20px;
    }

    .drive_details_text {
      font-size: 13px;
    }

    > ul {
      font-size: 13px;
    }

    > ul li::before {
      color: #007bff;
      content: '✓'
    }

  }

}


@media (max-width: $breakpoint-sm) {

  .drive_cards_container_inner {
    display: flex;
    flex-direction: column;
  }

  .drive_cards_container_outer {

    .drive_card_image {
      > img {
        width: 90vw;
        margin: 0em;
      }
    } 

    .drive_content {
      width: 100% ;
    }
  }

}