@import '../abstracts/variables';

.labs_card {
  margin-top: 5em;
  text-align: center;

  div{
    max-width: 25em;
    margin: 0 auto;

    h3 {
        color: $main-blue;
        text-align: left;
        font-size: 1.6em;
        line-height: 1.5em;
    }
  
    p {
        text-align: left;
        margin: 0 auto;
        line-height: 1.5;
        color: $lightest-blue;
        min-height: 5em;
    }
  
    button {
        margin-top: 1.5em;
        padding: 0.5rem 3rem;
    }
  
    img {
        min-height: 10em;
        margin: 0 auto;
    }

    .button_comp {
      text-align: left;
    }
  }

}


.homepage_title {
      font-size: 2.35em;
      color: #17466C;
      font-weight: 500;
      line-height: 1.35em;
      text-align: center;
  em {
      display: inline-block;
      position: relative;
      background: transparent;
      font-style: normal;
      z-index: 0;
  }
  ::before {
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 100%;
      height: 6px;
      background-color: #FFC34E;
      z-index: -1;
      content: "";
  }
}


@media (max-width: $breakpoint-md) {
  .labs_card {
      margin-top: 5em;

      &:not(:first-child) {
          margin-top: 5em;
      }
  }

  .top_section {
      margin-top: 5em;
  }
}


//margin-top component


@media (max-width: $breakpoint-md) {
    .labs_card {
        margin-top: 5em;

        &:not(:first-child) {
            margin-top: 5em;
        }
    }

    .top_section {
        margin-top: 5em;
    }
}