@import '../abstracts/variables';

.joinUs_main {
  height: 60vh;
  background: url('/drive_image.jpeg');
  display: flex;
  margin-top: 7em;

  .blur_background {
    display: flex;
    background: rgba(14,46,78, 0.9);
  }


  .joinUs_card__large {

    .card_large__title {
      color: $sweet-blue;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 600;
    }

    .card_large__text {
      font-size: 13px;
    }

    .block_button {
      display: block;
      width: 121px;
      border: none;
      border-radius: 5px;
      background-color: #1089ff;
      color: white;
      padding: 12px 16px;
      text-transform: capitalize;
      font-size: 14px;
      cursor: pointer;
      text-align: center;
    }
  }

 .joinUs_card__small_container {
  display: flex;
  align-content: space-between;
  
  .joinUs_card__small {
  background: rgba(51,47,47, 0.3);
  border-radius: 6px;
  border: 1px solid #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  // border: 1px solid rgba(13, 12, 12, 0.3);
  color: white !important;


  height: 90%;
  text-align: center;
  padding-top: 2em;

   &__text {
    font-size: 13px;
  }
  
}
.card_small__text {
    text-transform: capitalize;

  }
}
}

@media (max-width: $breakpoint-sm) {

  .joinUs_card__large {
  .block_button {

      display: flex;
      width: 100% !important;
      border: none !important;
      padding: 14px 28px !important;
      font-size: 16px !important;
      cursor: pointer;
      text-align: center;
    }
  }

  .card_small_main {
    margin: 3em 0;
  }

  .joinUs_main {
    height: 100%;
  }

  .joinUs_card__large_container {
    margin: 1em 0em 0em;
  }

  .joinUs_card__small_container {
     
    margin: 1em 0;

  .joinUs_card__small {
  
    height: 90%;
    padding-left: 1em !important;
    padding-top: 2em;
  }

}
  
}

