@import '../abstracts/variables';

.top_container {
    // margin-top: 10vh;
    // height: 100vh;
    // min-height: 40em;
}

.container_pd {
    padding: 0 1.2rem;
}

//Header Top details that contains the site intro
.tac_header_detail {
    // margin-top: 4em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4em;
    padding-left: 2em;
    text-transform: capitalize;


    &__items {
        h2 {
            font-size: 2.5em;
            font-weight: 600;
            line-height: 1.27em;
            // max-width: 10em;
            color: #144388;
        }

        p {
            font-size: 1.125em;
            line-height: 1.5em;
            color: #1A4074D4;
            margin-top: 1em;
            max-width: 21em;
        }

        button {
            margin-top: 2em;
            margin-bottom: 2em;

        }
    }
}

.header_icon__container{
    background: #E8F0F6;
}

.header_icon {
    margin: 50px auto 0;
    width: 100%;
    background: #E8F0F6;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: 0 3rem;
    height: calc(100vh - 20vh);
    display: flex;
    align-items: flex-end;

    > div {
        position: unset !important;
    }

    .image {
        object-fit: contain;
        width: 60% !important;
        position: relative !important;
        height: unset !important;
    }
}

.header_partners_icon {
    height: 20vh;
    width: 100%;
    display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: space-around;

    &__item {
        display: inline-flex;
        align-items: center;
        width: 50%;
        justify-content: space-around;
    }
}

//Media queries
@media (max-width: $breakpoint-md) {
    // .header_icon {
    //     display: none;
    // }

    .container_pd {
        // margin-top: 8em;
        padding: 0;
    }
    

    .tac_header_detail {
        padding-left: initial;

        &__items {
            h2 {
                font-size: 2.28em;
            }

            button {
                font-size: 1.1em;
            }
        }
    }

    .top_container {
        height: initial;
        min-height: initial;
    }

    .header_partners_icon {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1em 1em;
        border-radius: .5em;
        background: $lighter-grey;
        height: 100%;
        min-height: 2em;
        margin-top: .5em;
        &__item {
            justify-content: space-between;
        }
    }
}

@media (max-width: $breakpoint-sm) {

    .tac_header_detail {
        &__items { 
            h2 {
                margin-top: 5px;
            }
            p {
             margin: 0px;   
            }
        }
    }
    .tac_header_background {
        background-color: $main-grey;
    }
    .tac_header_detail {
        position: relative;
        z-index: 9;
        padding-top: 0px;
    }

    .container_pd  {
        // margin-top: -15vh;
    }

    .header_icon {
        margin-top: 0px !important;
    
        > div {
            z-index: -950 !important;
        }
    
        height: 30vh !important;
    }

    .header_partners_icon {
        // height: 20vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    
        &__item {
            display: inline-flex;
            align-items: center;
            width: 100%;
            justify-content: space-around;
        }
    }
}

