@import '../abstracts/variables';

.project_heading {
  text-align: center;
  color: $sweet-blue;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2em;
}

.project_component_outer {
  display: flex;
}

.project_component_inner {
  width: 25vw;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 1em;

  .project_image {
    position: relative;
    width: 25vw;
  }

  .project_mask {
    position: absolute;
    cursor: pointer;
    top: 0;
    background-color: rgba(23, 70, 108, 0.802);
    opacity: 0;
    height: 100%;
    width: 25vw;
  
    &:hover {
      opacity: 1;
    }
  
    .project_button__container {
      height: 100%;
      margin-top: 6em;
    }

    .project_title {
      position: absolute;
      left: 5px;
      bottom: 0;
      margin-bottom: 0px;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .project_component_outer {
    flex-direction: column;
  }

  .project_component_inner {
    width: 90vw;

    .project_image {
      width: 90vw;
    }
  
    .project_mask {
      width: 90vw;
    }
  }
}
