@import '../abstracts/variables';

.welcome_component {
  background-color: #ffff;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome_header {
  color: $main-blue;
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.welcome_text {
  font-size: 1.5em;
  text-align: center;
  width: 80vw;
  margin: 1em auto;
}

.welcome_text_details {
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: $breakpoint-sm) {
  .welcome_header {
    font-size: 1.5em;
  }
  .welcome_component { 
    display: block;
    margin-top: 4em;
    min-height: 40vh;

  }
}
